---
import Layout from "../layouts/Layout.astro";
import BoutiqueSection from "../components/sections/boutique/Boutique.astro";
---

<Layout title="Boutique - Les Écuries d'Ulysse">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden py-12 pt-24 md:pt-32">
    <BoutiqueSection />
  </main>
</Layout>
