---
import Accueil from "../components/sections/accueil/Accueil.astro";
import Presentation from "../components/sections/presentation/Presentation.astro";
import Installations from "../components/sections/installations/Installations.astro";
import Prestations from "../components/sections/prestations/Prestations.astro";
import Elevage from "../components/sections/elevage/Elevage.astro";
import Concours from "../components/sections/concours/Concours.astro";
import Actualites from "../components/sections/actualites/Actualites.astro";
import Boutique from "../components/sections/boutique/Boutique.astro";
import Contact from "../components/sections/contact/Contact.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Les Écuries d'Ulysse - Écurie de propriétaires à Bouloc">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">
    <Accueil />

    <Presentation />

    <Installations />

    <Prestations />

    <Elevage />

    <Concours />

    <Actualites />

    <Boutique />

    <Contact />
  </main>
</Layout>
