---
import Layout from "../layouts/Layout.astro";
import ClassesPonySection from "../components/sections/classesPony/ClassesPonySection.astro";
---

<Layout title="Poney-Club - Les Écuries d'Ulysse">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden py-12 pt-24 md:pt-32">
    <ClassesPonySection />
  </main>
</Layout>
